/* z - index */

.container1 {
  width: 500px;
  height: 500px;
  background-color: red;
  position: relative;
}
.container2 {
  width: 50%;
  height: 50%;
  background-color: blue;
  position: absolute;
  z-index: 1;
}
.container3 {
  width: 50%;
  height: 50%;
  background-color: green;
  position: absolute;
  left: 0;
  top: 0;
}
